body {
  margin: 0;
  background: #131316;
  color: #eee;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div.video-section {
  padding-top: 60px;
}

div.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

#video {
  width: 100%;
  display: block;
  box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.3);

  aspect-ratio: 16 / 9;
}

div.controls-grid {
  height: 60px;
  padding: 0 10px;

  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 16px;

  i {
    font-size: 24px;
  }

  .right-grid {
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 20px;
  }

  button {
    background: none;
    border: none;
    color: white;
  }

  select {
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='8' height='8' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>")
      no-repeat;
    background-position: right 5px top 50%;
    padding-right: 15px;
    color: white;

    appearance: none;
    border: none;
  }

  .control {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    &#videoMode {
      gap: 8px;
    }

    &#record {
      &.recording {
        color: red;
      }
    }

    &#volume {
      gap: 0;

      input {
        margin-right: 0;
        visibility: hidden;
        width: 0;

        transition: width 0.3s ease-in-out;
      }

      &:hover input {
        margin-right: 5px;
        visibility: visible;
        width: 100px;
      }
    }

    opacity: 0.2;
    transition: opacity 0.2s ease-in;
    &:hover {
      opacity: 1;
    }
  }
}

.bottom-text {
  color: #4f4486;
  font-size: 12px;
  position: fixed;
  bottom: 5px;
  right: 5px;

  opacity: 0.5;
  &:hover {
    opacity: 1;
  }

  a {
    text-decoration: none;
    color: #3e2ea7;

    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
