body {
  margin: 0;
  background: #232328;
  color: #eee;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

div.video-section {
  background: #000;
}

div.controls-section {
  background: #151518;
}

#video {
  width: 100%;
  display: block;
}

div.controls-grid {
  padding: 10px 0;
  white-space: nowrap;

  display: flex;
  gap: 20px;

  .pull-right {
    margin-left: auto;
  }

  div.controls-item {
    color: #4e4e5c;
    font-size: 14px;
    display: table-cell;

    & > * {
      vertical-align: middle;
    }

    input[type="range"] {
      margin: 0;
      width: 80px;
    }
  }
}
